@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

nav{
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    width: 100%;
    margin: 10px auto;
}


.navMenu a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
}
.navMenu a:hover {
    color: #fddb3a;
}

  .navMenu a:hover:after {
    content: '';
    position: absolute;
    
    bottom: -5px;
    left: 50%;
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
  }
  
  /* .navMenu .dot {
    left: 0;
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  } */
  
  .navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .active{
     background-color: red;
  }
